body {
    background: #eeefed;
}

a {
    text-decoration: none;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding-top: 25px;
}

h1 {
    position: relative;
    text-align: center;
    color: #353535;
    font-size: 50px;
    font-family: "Calibri", sans-serif;
}

p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 18px;
    color: #676767;
    margin-bottom: 40px;
}

.custom-btn {
    width: 130px;
    height: 40px;
    color: #000;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: block;
    margin: 0 auto 20px; /* Center and add margin to stack vertically */
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}

/* Add your custom styles for btn-1, btn-2, and btn-3 */

.btn-1 {
    border-radius: 50%;
    background-image: linear-gradient(red, yellow, green);
    font-weight: 600;
    border: none;
    width: 150px;
    height: 150px;
    transition: width 2s, height 4s;
}

.btn-1:hover {
    width: 250px;
    height: 50px;
}

.btn-2 {
    width: 100px;
    height: 100px;
    background: crimson;
    border: 3px solid black;
    animation: extend 5s ease-in infinite;
    font-size: 1em;
    }   
    
    @keyframes extend {
    0% {width: 100px; height: 100px; background: crimson;}
    25% {width: 125px; height: 125px; background: purple;}
    50% {width: 150px; height: 150px; background: orangered;}
    75% {width: 175px; height: 175px; background: blue;}
    100% {width: 200px; height: 200px; background: green;}
    }